{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-6" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Happy Birthday App</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'homepage' %}">Home</a></li>
                    <li><a href="{% url 'patients_list' %}">List Patients</a></li>
                    <li class="active"><a href="#">Add Patient</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <form action="{% url 'add_patient' %}" method="POST">
            {% csrf_token %}
            {{ form.as_table }}
            <input type="submit" value="Submit">
        </form>

    </div>
{% endblock %}